:root {
    --primary: rgb(0, 71, 133);
    --secondary: rgb(0, 37, 70);
    --tertiary: rgb(255, 170, 0);
    --light: rgb(44, 133, 211);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:antiquewhite;
}

img {
    display: flex;
    width: auto;
    max-height: 100%;
    border: 5px solid white;
}

body {
    background-image: url('../images/blue_and_white_rock.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
}

/* Header/Nav Bar start*/

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url('../images/blue_and_white_rock.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    padding: 10px;
    color: var(--primary);
}

header::after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    font-size: 250%;
    display: flex;
    justify-content: flex-start;
    color: var(--primary);
    text-shadow: 5px 5px 5px var(--tertiary);
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    margin: 0;
    padding: 0;
    color: var(--primary);
    list-style: none;

}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: var(--primary);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bolder;
}

nav a:hover {
    color: var(--secondary);
}

nav a::before {
    content: "";
    display: block;
    height: 15px;
    background-color: var(--secondary);

    position: absolute;
    top: 0;
    width: 0%;

    transition: ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

/* Nav styling end */


/* main styling start */ 


.hero {
    background-color: var(--tertiary);
    display: flex;
    justify-content: space-around;
}

.hero-cta {
    display: flex;
}

.hero h2 {
    margin: 2% 0;
    font-size: 200%;
    color: var(--primary);
}


h2 {
    font-size: 200%;
    color: var(--primary);
}

/* ABOUT me */

.bullet {
    background-color: var(--secondary);
    padding: 15px;
    width: 80%;
    border: 5px solid var(--tertiary);
    color: var(--light);
}

/* bio */

.more {
    padding: 0;
    height: 300px;
    width: 80%;
    border: 5px solid var(--tertiary);
    color:var(--light);
    text-shadow: 5px, 5px, var(--secondary) 15px; 
}

.story {
    background-color: var(--secondary);
    padding: 10px;
    height: 300px;
    width: 80%;
    border: 5px solid var(--tertiary);
    color: var(--light);
}

/* about me style end */

/* my pieces style start */

.work {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.piece-about {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.piece-name {
    font-weight: bolder;
    display: flex;
    justify-content: left;
    align-items: top;
    padding: 20px 20px;
}

h3 {
    margin: 2% 0;
    font-size: 150%;
    color: var(--primary);

}


h4 {
    margin: 2% 0;
    font-size: 125%;
    color: var(--primary);
}


/* contact info style start */

.flex-row {
    display: flex;
    padding-bottom: 20px;
    text-align: left;
    margin: 0 auto 35px auto;
    width: 80%;
}

.contact-info {
    Display: flex;
    justify-content: space-around;
}

.conact ul {
    margin: 0;
    padding: 0;
    color: var(--primary);
    list-style: none;
    margin: 10px;
}

.conact ul li {
    display: inline-block;
    border-radius: 60px;
    background-color: var(--secondary);
    border-color: 5px solid white;
    color: var(--primary);
}


footer {
    background-position: fixed;
}

p, h2, h3, h4 {
    border-radius: 60px;
    background-color: var(--secondary);
}